<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <script src="https://fb.me/react-0.13.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.29/browser.js"></script>

    <title>sockets fun</title>
  </head>
  <body>
    <h1>HTML TEXT</h1>
    <div id="example"></div>
    <div id="userDiv"></div>
    <div id="button"></div>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    <script type="text/babel" src="/reactify.js"></script>
  </body>
</html>
